header .collapse .nav-link::before {
    color: green !important;
}

header .collapse .nav-link::before {
    /* contain: ""; */
    content: "";
    position: absolute;
    width: 0;
    background-color: green;
    bottom: 0;
    left: 0;
    height: 4px;
    transition: all 1s;
}

header .collapse .nav-link:hover::before {
    width: 100%;
}




